body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-family: Merriweather, serif;
}

a,
a:visited {
    color: #007bff;
}

.item1 {
    color: #93e1d8;
}

.cool-class {
    color: #9eb25d;
    font-weight: bold;
}

.highlight {
    color: red;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}